<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
 <title>Tom Ward</title>
 <link href="https://tomafro.net/atom.xml" rel="self"/>
 <updated></updated>
 <id>http://tomafro.net/</id>
 <author>
   <name>Tom Ward</name>
   <email>tom@popdog.net</email>
 </author>
 
 <entry>
   <id>http://tomafro.net</id>
   <link href="https://tomafro.net"/>
   <title></title>
   <author>
     <name>Tom Ward</name>
     <email>tom@popdog.net</email>
   </author>
   <content type="html"></content>
   <updated></updated>
   <category scheme="https://tomafro.net/tags/" term="" label="" />
 </entry>
 
</feed>